{% extends 'base/base.html' %}

{% block body %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:register' as register_url %}
{% url 'movies:homepage' as homepage_url %}
<section class="hero is-black is-fullheight">
  <div class="hero-head">
    {% include 'include/navbar.html' %}
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <div class="hero-foot pb-10">
    <p class="is-size-7 has-text-centered">Created by Shakib Hossain.</p>
  </div>
</section>
{% endblock body %}
