{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto" rel="stylesheet">
  <script src="{% static 'js/font-awesome.min.js' %}"></script>
  {% block extra_css %}
  {% endblock extra_css %}
  <title>{% block title %}YIFY Clone{% endblock title %}</title>
</head>
<body class="{% block body_classes %}has-background-black has-text-white{% endblock %}">
{% block body %}
  {% include 'include/navbar.html' %}
  {% block content %}{% endblock content %}
  {% block extra_js %}
  {% endblock extra_js %}
{% endblock body %}
</body>
</html>
