{% extends 'base/base_hero.html' %}

{% block content%}
<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="box has-background-success has-text-white">
      <div class="brand subtitle has-text-weight-bold has-text-centered">
        YIFY Clone
      </div>
      <form action="" method="post">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Username" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="password" placeholder="Password" required>
          </div>
        </div>
        <div class="field">
            <div class="control">
              <button class="button is-dark is-fullwidth">Login</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
