{% load static %}
{% load mytags %}

<div class="container">
  <div class="columns is-multiline mt-10">
    {% for movie in movies %}
    <div class="column is-3 movie">
      <a href="{{ movie.get_absolute_url }}">
        <div class="image-container center-child">
            <img
              src="{% if movie.poster_image %}/media/{{ movie.poster_image }}{% else %}{% static 'images/default-poster.png' %}{% endif %}"
              alt="{{ movie.title }}"
              class="movie-poster is-relative">
            <div class="overlay has-text-centered">
              <p class="is-size-4 has-text-white" style="margin-top:200px;">
                <i class="fab fa-imdb has-text-warning"></i> {{ movie.imdb_rating }}
              </p>
              <button class="button is-success">Details</button>
            </div>
        </div>
      </a>
      <p class="is-size-6 has-text-grey-lighter has-text-centered mt-10">
        <span class="has-text-weight-bold">{{ movie.title }}</span><br>
        <small>{{ movie.year }}</small>
      </p>
    </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
  {% with query=request.GET|get_item:'query' genre=request.GET|get_item:'genre' %}
  <div class="container center-child mt-40 mb-40">
    <div class="field has-addons">
      <p class="control">
        {% if page_obj.has_previous %}
        <a class="button is-success"
          href="{% url 'movies:browse_movies' %}?page={{ page_obj.previous_page_number }}&query={{ query }}&genre={{ genre }}">
          <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>Previous</span>
        </a>
        {% else %}
        <a class="button is-static is-success">
          <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span>Previous</span>
        </a>
        {% endif %}
      </p>
      <p class="control">
        {% if page_obj.has_next %}
        <a class="button is-success"
          href="{% url 'movies:browse_movies' %}?page={{ page_obj.next_page_number }}&query={{ query }}&genre={{ genre }}">
          <span class="icon is-small">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span>Next</span>
        </a>
        {% else %}
        <a class="button is-static is-success">
          <span class="icon is-small">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span>Next</span>
        </a>
        {% endif %}
      </p>
    </div>
  </div>
  {% endwith %}
  {% endif %}
</div>
