.pt-5{padding-top: 5px;}
.mb-10{margin-bottom: 10px;}
.pb-10{padding-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.pb-20{padding-bottom: 20px;}
.mt-10{margin-top: 10px;}
.pt-10{padding-top: 10px;}
.mt-20{margin-top: 20px;}
.pt-20{padding-top: 20px;}
.mt-40{margin-top: 40px;}
.mt-70{margin-top: 70px;}
.pt-40{padding-top: 40px;}
.mb-40{margin-bottom: 40px;}
.pb-40{padding-bottom: 40px;}

body {
  font-family: 'Roboto', sans-serif;
}

.brand {
  font-family: 'Kaushan Script', cursive;
}

#login {
  padding: 15px 25px;
}

.hero.is-black a.navbar-item.is-active {
  background-color: #23c150;
}
.navbar.is-black .navbar-end>a.navbar-item.is-active {
  background-color: #23c150;
}

.navbar-menu {
  background-color: #0a0a0a;
}
.navbar-menu a {
  color: #fff;
}
.navbar-menu a:active {
  color: #fff;
}
.navbar-item {
  transition: all 0.3s;
}
.navbar.is-black a.navbar-item.is-active,
.navbar.is-black a.navbar-item:hover,
.navbar.is-black .navbar-end>a.navbar-item:hover {
  background-color: #23c150;
  color: #fff;
}
.navbar .container {
  padding: 0;
}
.navbar .field {
  margin-bottom: 0;
}

.navbar .input {
  border-color: #363636;
  color: #fff;
}
.navbar .input:focus {
  color: #fff;
}
.navbar .control.has-icons-left .input:focus~.icon {
  color: #efefef;
}
.navbar-item {
  padding: 8px 15px;
}

div.navbar-menu.is-active {
  padding-bottom: 0;
}

.input:focus {
  outline: none !important;
  border:1px solid #23d160;
  box-shadow: 0 0 5px #23d160;
}
.input.is-danger:focus {
  border:1px solid #ff3860;
  box-shadow: 0 0 5px #ff3860;
}

.textarea:focus {
  outline: none !important;
  border:1px solid #23d160;
  box-shadow: 0 0 5px #23d160;
  background-color: #fff !important;
}
.select select:hover {
  outline: none !important;
  border:1px solid #23d160;
  box-shadow: 0 0 5px #23d160;
  background-color: #fff !important;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #23d160;
}

.bullet-list {
  list-style: disc;
}

.font-size-09 {
  font-size: 0.9rem !important;
}

.is-size-65 {
  font-size: 0.9rem !important;
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-poster.poster-container {
  align-items: start;
  justify-content: start;
  padding-top: 15px;
}
.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-container img {
  border: 5px solid #fff;
  border-radius: 3px;
  transition: all 0.2s;
}
.poster-container:hover a img {
  border-color: #23c160;
}

.poster-container.other-movies img {
  border-width: 2px;
}

.movie-poster {
  border: 5px solid #fff;
  border-radius: 3px;
  transition: all 0.3s;
}

.movie:hover .movie-poster {
  border-color: #23d160;
}

.overlay {
  position: absolute;
  width: 230px;
  height: 345px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  transition: all 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.image-overlay {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  top: -50px;
  left: 0;
  background-size: cover;
  display: block;
  filter: blur(10px);
}
.gradient-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,rgba(10,10,10,0.85) 0,rgba(10,10,10,1) 60%,rgba(10,10,10,1) 100%);
}

.button.is-transparent {
  background-color: rgba(0,0,0,0);
  color: #fff;
  transition: all 0.2s;
}

.button.is-transparent:hover {
  background-color: #fff;
  color: #363636;
}

.is-relative {
  position: relative;
}

.comments {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.comments .card-content {
  padding: 1.2rem;
}

.border-top {
  border-top: 5px solid #000;
}

.navbar.is-black {
  border-bottom: 3px solid #23c150;
}

.container {
  padding: 0 15px;
}

.footer {
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
}
