{% extends 'base/base.html' %}
{% load mytags %}

{% block title %}Browse Movies | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-3 mt-70 mb-40">
        <h1 class="title has-text-grey-lighter has-text-centered">
          Search
        </h1>
        <form action="" method="get">
          <div class="field">
            <div class="control is-fullwidth">
              <input class="input"
                type="text"
                name="query"
                placeholder="Search query"
                value="{{ request.GET|get_item:'query' }}"
                >
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select name="genre">
                {% with request.GET|get_item:'genre'|get_int as selected_genre %}
                  {% for x,y in form.fields.genre.choices %}
                      <option value="{{ x }}"{% if selected_genre == x %} selected{% endif %}>{{ y }}</option>
                  {% endfor %}
                {% endwith %}
                </select>
              </div>
            </div>
            <div class="control">
              <button class="button is-success" type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if count %}
  <div class="container mt-10 mb-30">
    <h3 class="subtitle has-text-success has-text-centered has-text-weight-bold">
      {{ count }} Movie{{ count|pluralize }} found!
    </h3>
  </div>
  {% endif %}
  {% include 'include/movie-list.html' %}
{% endblock content %}
