{% extends 'base/base.html' %}

{% load static %}

{% block content %}
{% include 'include/background-overlay.html' %}
<div class="container is-fluid">
  <div class="hero is-small mb-20 mt-40">
    <div class="hero-body">
      <div class="container is-fluid has-text-centered">
        <h1 class="title has-text-white">
          YIFY Clone: quality &amp; small size movies</h1>
        <p class="font-size-09 column is-8 is-offset-2">
          Welcome to <span class="has-text-success">YIFY clone</span>, a clone of YTS/YIFY website.
          <span class="has-text-success">YIFY</span> movies are best known for the excellent BluRay quality at small file-size,
          which can be downloaded fast for free. <span class="has-text-success">YIFY</span> movies are encoded using x264 codec
          and MP4 container for best compatibility with all devices, so all users around
          the world can download <span class="has-text-success">YIFY</span> torrents and enjoy the movies.
        </p>
        <hr>
      </div>
    </div>
  </div>
  <h3 class="is-size-5 has-text-centered mb-20">
    <i class="fas fa-star has-text-warning"></i> Latest Additions
  </h3>
  {% include 'include/movie-list.html' %}
</div>
{% endblock content %}
